$theme: #01A89D;

.header {
  width: 100%;
  padding: 7rem 0;
  background: rgb(160, 160, 160) url(../img/bg_header.jpg) center / cover no-repeat;
}

.header__content-wrapper {
  width: 60%;
  margin-left: 200px;
  padding: 3rem;
}

.header__text_question {
  font: 0.8rem/1.4rem helvetica, sans-serif;
  text-transform: uppercase;
  color: rgb(80, 77, 77);
  text-align: center;
  color: #605D5A;
}

.header__title {
  font: 700 3rem/3rem Garamond, sans-serif;
  color: #383838;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  white-space: nowrap;
}

.slogan-container__text {
  font: 700 1.5rem/1.7rem Garamond, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0.3rem;
}

.accent {
  font: inherit;
  color: $theme;
}

.header__slogan-container {
  margin-top: 2.5rem;
}

.slogan-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.double-lines-container {
  flex-basis: 23%;
  display:flex;
  flex-direction: column;
  height: 0.8rem;
  justify-content: space-around;
  align-self: center;
}

.double-lines {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, rgb(243, 239, 239),
   rgb(189, 180, 180));
}

.double-lines_color_reverse {
  background: linear-gradient(to right, rgb(189, 180, 180), 
  rgb(243, 239, 239));
}

.angle_theme {
  color: $theme;
}

.see-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.see-more-container__link {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid $theme;
  background: inherit;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.see-more-container__link:hover {
  box-shadow: 0 0 1rem rgba(26, 54, 90, 0.7);
}

.see-more-container__icon-down {
  color: $theme;
  font-size: 2.5rem;
}

@media screen and (max-width: 1100px) {
  .header__content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 1rem;
  }

  .double-lines-container {
    flex-basis: 26%;
  }

  .slogan-container__text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 876px) {
  .header__content-wrapper {
    width: 70%;
  }
 
  .header__title {
    font-size: 2.5rem;
  }

  .slogan-container__text {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 676px) {
  .header__content-wrapper {
    width: 90%;
    padding: 3rem 1rem;
  }

  .header__title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 486px) {
  .header__title {
    white-space: normal;
    font-size: 1.8rem;
  }

  .slogan-container {
    margin-top: 1rem;
  }

  .slogan-container__text {
    font-size: 1.2rem;
  }

  .header {
    padding-bottom: 2rem;
  }

  .see-more-container {
    margin-top: 1.5rem;
  }
}





