$theme-dark: #383838;
$theme-light: #F9F9F9;
$section-pad: 5rem 4rem 3rem 4rem;
$theme-text-dark: #797373;
$page-theme: #00A99D;
$text-color: #939393;
$el-color: #E4E4E4;

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, * {
  font: 1rem/1.5rem Garamond, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

.page-btn {
  color: #E4E4E4;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  background: $page-theme; 
  border-radius: 0.15rem;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

button:hover, a:hover {
  cursor: pointer;
}

@import "./header.scss";
@import "./nav.scss";
@import "./servicesSection.scss";
@import "./featuresSection.scss";
@import "./skillsSection.scss";
@import "./sampleSection.scss";
@import "./factsSection.scss";
@import "./memberSection.scss";
@import "./testimonialSection.scss";
@import "./productPricesSection.scss";
@import "./contactSection.scss";
@import "./footer.scss";