*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, * {
  font: 1rem/1.5rem Garamond, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}
