$theme-dark: #383838;
$theme-light: #F9F9F9;
$section-pad: 5rem 3rem 3rem 3rem;
$theme-text-dark: #797373;
$page-theme: #00A99D;
$text-color: #939393;
$el-color: #E4E4E4;

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, * {
  font: 1rem/1.5rem Garamond, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}
