@import "./main.scss";

.members-section {
  padding: $section-pad;
}

.double-lines-container_member-section_width {
  flex-basis: 30%;
}

.member-switcher {
  background: $page-theme;
  padding: 0.1rem 0.7rem;
  border-radius: 0.15rem;
  align-self: center;
  color: $el-color;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) inset;
  transition: all 0.3s;
}

.member-switcher:hover {
  background: #383838;
  cursor: pointer;
}

.member-switcher_previous {
  margin-right: 0.7rem;
}

.member-switcher_next {
  margin-left: 0.7rem;
}

.member-section__switcher-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}

// member card styling

.members-block-wrapper {
  overflow: hidden;
  margin-top: 4rem;
}

.members-block {
  display: flex;
  width: 9000px;
  transition: all 0.5s;
}

.member-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  width: 286px;
  margin-right: 2rem;
}

.member-card:last-child {
  margin-right: 0; 
}

.image-container {
  background: #8A8A8A;
  width: 100%;
  min-height: 250px; 
}

.member-card__main-inform {
  text-align: center;
  border: 1px solid rgb(212, 207, 207);
  border-top: none;
  padding-bottom: 1rem;
  width: 100%;
  position: relative;
}

.member-card__learn-more {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: -1rem;
}

.member-card__learn-more:hover {
  background: $theme-dark;
}

.member-card__position {
  font-size: 0.9rem;
  color: #8A8A8A;
  display: inline-block;
  border-bottom: 1px solid rgb(231, 224, 224);
  padding: 1.5rem 0 0.7rem 0;
  margin-bottom: 0.3rem;
}

.member-card__icon {
  color: #AAAAAA;
  display: inline-block;
  margin-right: 0.4rem;
  font-size: 1rem;
}

.member-card__email {
  font-size: 0.8rem;
  color: #CCCCCC;
}

.member-card__phone-number {
  font-size: 0.7rem;
  color: #CCCCCC;
}

.member-card__icon_mg {
  margin-right: 1rem;
}
