$theme: #01A89D;

.page-nav {
  display: flex;
  border-bottom: 2px solid #DEDEDE;
  padding: 2rem 0;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: rgb(253, 251, 251);
  z-index: 10;
}

.logo-container {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo__caption {
  font: 500 1.1rem/1.1rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #A5A5A5;
}

.page-nav__menu {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 2rem;
}

.page-nav__link {
  display: inline-block;
  text-align: center;
  border-radius: 0.15rem;
  text-transform: uppercase;
  color: #606060;
  font: 600 0.8rem/1rem helvetica, sans-serif;
  padding: 0.5rem;
  transition: all 0.3s;
}

.page-nav__link:hover {
  background: $theme;
  color: #E4E4E4;
}

.page-nav__btn-toggler {
  padding: 0.15rem;
  background: none;
  display: none;
  outline: none;
}

.btn-toggler__line {
  display: block;
  width: 1.4rem;
  height: 3px;
  background: $page-theme;
  margin-bottom: 0.3rem;
}

.btn-toggler__line:last-child {
  margin: 0;
}

@media screen and (max-width: 989px) {
  .page-nav__menu {
    flex-basis: 100%;
  }

  .logo-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .page-nav__btn-toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .page-nav {
    justify-content: flex-start;
    position: fixed;
    top: 2rem;
    left: 2rem;
    border: none;
    background: none;
  }

  .page-nav__menu {
    flex-basis: 100%;
    flex-direction: column;
    align-items: stretch;
    background: rgba(216, 214, 214, 0.6);
    height: 0px;
    width: 0;
    padding-top: 0;
    overflow: hidden;
    transition: all 0.5s linear;
  }

  .page-mav__menu_active {
    height: 250px;
    width: 100%;
    padding-top: 1.5rem;
  }

  .page-nav__link:hover {
    background: none;
    color: $page-theme;
  }
}



