.double-lines-container_price-width {
  flex-basis: 35%;
}

.product-prices-wrapper {
  padding: $section-pad; 
  background: $theme-light;
}

.product-prices-section__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 100%;
}

.price-card {
  border: 1px solid #DEDEDE;
  border-radius: 0.2rem;
  padding: 2rem 1rem 1rem 1rem;
  flex-basis: 22%;
  position: relative;
}



.price-card__offers {
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  margin: 1rem 0;
}

.price-card__price-content {
  text-align: center;
}

.dollar-sign, .price-card__period {
  color: #8A8A8A;
  font-size: 0.8rem;
}

.dollar-sign {
  font-size: 1rem;
}

.price-card__main-price {
  font: 600 3.2rem/3.2rem impact;
  color: #383838;
  position: relative;
  margin-left: 0.5rem;
}

.romb-figure {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background: #383838;
  border-radius: 0.15rem;
  transform: rotate(45deg);
  margin-top: 0.5rem;
}

.price-card__sup-num {
  position: absolute;
  display: inline-block;
  font-weight: 600;
  left: 60px;
  top: -10px;
}

.price-card__title {
  position: absolute;
  background: #383838;
  padding: 0.2rem 0.4rem;
  text-transform: uppercase;
  border-radius: 0.15rem;
  color: #ffffff;
  font-size: 0.8rem;
  left: 50%;
  top: -5%;
  transform: translate(-50%);
}

.price-card-offers__list {
  text-align: center;
  padding: 1rem 0;
}

.price-card-offers__item {
  color: $text-color;
  margin-bottom: 0.7rem;
}

.price-card-offers__item:last-child {
  margin-bottom: 0;
}

.price-card__sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-card__signup-btn:hover {
  background: $theme-dark;
}

.product-prices-section__purchase-now-block {
  background: #8A8A8A;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}

.purchase-now-btn:hover {
  background: $el-color;
  color: $theme-dark;
}

.purchase-now-block__text {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(7, 7, 7);
}

@media screen and (max-width: 1000px) {
  .price-card {
    flex-basis: 45%;
    margin-top: 2rem;
  }

  .purchase-now-block__text {
    font-size: 1.3rem;
    flex-basis: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 676px) {
  .price-card {
    flex-basis: 90%;
  }

  .product-prices-section__wrapper {
    justify-content: center;
  }

  .product-prices-section__purchase-now-block {
    flex-direction: column;
  }

  .purchase-now-block__text {
    margin-bottom: 1rem;
    text-align: center;
  }
}







